.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #333;
}

.nav-item {
  color: #505050;
  text-decoration: none;
  font-weight: 500;
}

.nav-item.active {
  color: grey;
}